*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(57, 84, 84);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}
.calculator{
    background-color: #3a4452;
    padding: 15px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px; 

    
}
.calculator form input:active{
   background-color: rgb(60, 85, 85);
   box-shadow: -8px -8px 25px rgba(16, 16, 16, 0.1), 5px 5px 25px #0b0a0a33;
    background: transparent;
}


form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    box-shadow: none;
    background-color: rgb(51, 68, 68);
    font-size: 40px;
    font-weight: bold;
    color: rgb(173, 166, 166);
    padding: 0 20px;
}
